body {
  /*padding-top: 5rem;*/
  font-family: 'Nunito', sans-serif;
}
.headshot {
  width: 100%;
}
.qualifications {
    font-size: 20px;
    text-align: center;
}
.qualifications p {
  display: inline;
}
.qualifications > ::after {
    content: "// ";
    font-weight: 900;
    position: relative;
    left: -1px;
    color: lightgrey;
}

.infoImage {
    height: 300px;
    width: 300px;
    padding: 10px;
}

html,
body,
#heroimage {
    width: 100%;
    height: 100%;
}

#heroimage {
    background: url('images/headshot.jpg') center center;
    background-size: cover;
}

#headline {
  text-align: center;
}
