body {
  /*padding-top: 5rem;*/
  font-family: 'Nunito', sans-serif;
}
.headshot {
  width: 100%;
}
.qualifications {
    font-size: 20px;
}
.qualifications p {
  display: inline;
}
.qualifications > ::after {
    content: "// ";
    font-weight: 900;
    position: relative;
    left: -1px;
    color: lightgrey;
}

.infoImage {
    height: 300px;
    width: 300px;
    padding: 10px;
}
