body {
  padding-top: 5rem;
}
.headshot {
  width: 100%;
}
.qualifications {

}
.qualifications > {
    width: 30%;
}
.qualifications >::after {
    content: "// ";
    position: relative;
    left: -1px;
}
